header {
  height: var(--size-header-height);
  width: 100%;
  display: flex;
  padding: 5px 0;
}

.div-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-container {
  width: 17.1875rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#sign-in {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 0;
}

#sign-in i {
  margin-right: 5px;
}

#user-pic img {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  padding: 0.25rem;
  border: 1px solid var(--color-accent-orange);
}
