.list-of-contacts {
  width: 100px;
  height: var(--size-main-height);
  background: var(--color-dark-grey-accent);
  margin-right: 5px;
}

.list-btn {
  width: 100%;
  border-radius: 0;
  background-color: var(--color-dark-black-primary);
  border: 1px solid var(--color-dark-grey-accent);
  text-align: left;
}
