/* css variables */
:root {
  /* sizes */
  --size-app-width: 100vw;
  --size-app-height: 100vh;
  --size-header-height: 75px;
  --size-footer-height: 1.5625rem;
  --size-main-height: calc(
    var(--size-app-height) - var(--size-footer-height) -
      var(--size-header-height) - 30px
  );

  /* colors */
  --color-dark-grey-accent: #3c3c3c;
  --color-dark-black-primary: #1e1e1e;
  --color-light-grey-accent: #dddddd;
  --color-light-ltgrey-accent: #f3f3f3;
  --color-light-white-primary: #ffffff;
  --color-dark-font-ltgrey: #f3f3f3;
  --color-dark-font-white: #ffffff;
  --color-light-font-black: #1e1e1e;
  --color-accent-orange: #f99d1e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* modes  */
.dark-mode {
  /* assigns a global dark mode with hue rotation */
  filter: invert(1) hue-rotate(180deg);
}

/* .invert { */
/* attach this class to object we what to be uneffect by the dark mode */
/* filter: invert(1) hue-rotate(180deg); */
/* } */

#root {
  width: var(--size-app-width);
  height: var(--size-app-height);
  display: flex;

  /* REMOVE THIS WHEN THE BACKEND IS CONNECTED */
  background-color: var(--color-dark-black-primary);
  color: var(--color-dark-font-white);
}

.container {
  width: 100%;
  padding: 0 3.125rem;
}

button {
  background-color: var(--color-dark-grey-accent);
  color: var(--color-accent-orange);
  padding: 0.1875rem 0.5rem;
  border-radius: 0.625rem;
}

button:hover {
  cursor: pointer;
}
